@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #2c2c2c !important;
}


/* CABECALHO */

header {
	background-color: #0A0908;
	color: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: 10vh;
  }
  
  .header-content {
	display: flex;
	width: 98%;
	align-items: center;
	justify-content: space-between;
	padding: 0px 15px;
  }
  
  
  .user-icon {
	color: #e0e0e0;
	font-size: x-large;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	width: 30%;
	transition: 0.5 ease-in;
  }
  
   .user-icon a:hover {
	color: #f88d35;
	border-bottom: 1px solid #f88d35;
  }
  
  .user-icon a {
	color: #e0e0e0;
	text-decoration: none;
  }
  
  .usernameContainer {
	font-size: 14px;
  }
  
  
  .logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e0e0e0;
	margin-left: 10px;
	text-decoration: none;
  }
  
  
  
  .logo h1 span {
	width: 40px;
	font-size: 40px;
	color: #f88d35;
  }
  /* FIM CABECALHO */
  
  /* SideBar */
  
  .sidebar {
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	padding-top: 100px;
	left: -200px;
	background-color: #ffffff;
	transition: left 0.3s ease;
  }
  
  .sidebar.open {
	left: 0;
	padding-top: 100px;
  }
  
  .sidebar-content {
	padding: 20px;
  }
  
  .sidebar ul {
	list-style-type: none;
	padding: 0;
  }
  
  .sidebar li a, .sidebar li button {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #000000;
	margin-bottom: 10px;
	font-size: 16px;
	cursor: pointer;
  }
  
  .sidebar li button {
	background: none;
	border: none;
  }
  
  .sidebar li a.selected,
  .sidebar li a:hover, .sidebar li button:hover {
	background-color: #e0e0e0;
	border: #33333300;
	border-radius: 5px;
	color: #f88d35;
	font-size: 16px;
  }
  
  .open-sidebar-button {
	cursor: pointer;
	padding: 5px;
	background-color: #33333300;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .hamburger-icon {
	width: 25px;
	height: 3px;
	background-color: #f88d35;
	margin-bottom: 3px;
  }


/* 0. Variáveis*/

:root {
	--ff-primary: "Cairo", sans-serif;

	--clr-background: #F5F5F5;
	--clr-white: #F1FCDE;
	--clr-black: #090E01;
	--clr-light-green: #DEF8AF;
	--clr-medium-green: #9107a3;
	--clr-dark-green: #ee6407;

	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
}


/* 1. Estilos Gerais*/

p {
	font-size: 1.6rem;
	line-height: 1.8;
	color: #ffffff
}

section {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 90vh;
	margin-top: 10vh;
	background: #2c2c2c;
}

.sobre-c {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sobre-c img {
	width: 70%;
	filter: drop-shadow(13px 5px 10px #000);
}

.sobre-texto {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

img {
	max-width: 100%;
	height: auto;
}

.sobre-texto h1 {
	color: #f88d35;
	text-shadow: #0A0908 3px 3px 2px;
	font-size: xx-large;
}

.sobre-texto p {
	font-size: large;
	text-align: center;
}

@media screen and (max-width: 920px) {
	section {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: auto;
		gap: 40px;
		margin: 15vh 0 5vh 0;
	}
	.sobre-c {
		width: 90%;
		display: flex;
	}
	.sobre-c img {
		width: 90%;
		filter: drop-shadow(13px 5px 10px #000);
	}
	.sobre-texto {
		width: 90%;
	}
}

@media screen and (max-width: 650px) {
	.user-icon {
		width: 50%;
		font-size: medium;
	}
	.logo h1{
		font-size: larger;
		margin-left: 0px;
	}
}

@media screen and (max-width: 650px) {
	.sobre-texto p {
		font-size: smaller;
	}
}